= form_with model: [@dutyfind, @rosternew], id: 'check-form', local: true do |f|
  .rosterform
    = f.label :日付, class: 'roster-date-label'
    = f.date_field :date, class: 'roster-date-input', placeholder: '日付を入力して下さい'
  .rosterform
    = f.label :メンバー, class: 'roster-rabel'
    = f.collection_select :user_id, User.find(DutyUser.where(duty_id:params[:duty_id]).pluck(:user_id)), :id, :nickname
  .rosterform
    = f.submit