

%body 
.content
  .left-content
    .duty-new-btn
      = link_to '当番表作成', new_duty_path
    %ul.duty-group
      - @dutyall.each do |duty|
        %li.duty-list
          %a{ :href => duty_path(duty.id) }= duty.name
  .main-content
    - case controller_name
      - when "duties"
        - case action_name
          - when "index"
            = render 'shared/main'
          - when "show"
            = render 'shared/show', roster: @roster
          - when "new"
            = render 'shared/new', dutynew: @dutynew
          - when "update"
            = render 'shared/edit', dutyfind: @dutyfind
          - when "create"
            = render 'shared/new', rosternew: @rosternew
          - when "edit"
            = render 'shared/edit', dutyfind: @dutyfind
          - when "mypage"
            = render 'shared/mypage'
          - else
            %p 例外のアクションです
            = action_name
      - when "rosters"
        - case action_name
          - when "new"
            = render 'shared/show', roster: @roster
          - when "create"
            = render 'shared/show', rosternew: @rosternew