-# ヘッダー表示
= render 'shared/header' ,dutyfind: @dutyfind

%body 
.content
  .left-content
    .duty-new-btn
      = link_to '当番表作成', new_duty_path
    %ul.duty-group
      - @dutyall.each do |duty|
        %li.duty-list
          %a{ :href => duty_path(duty.id) }= duty.name
  .main-content
    - case action_name
      - when "index"
        = render 'shared/main'
      - when "show"
        = render 'shared/show', roster: @roster
      - when "new"
        - case controller_name
          - when "duties"
            = render 'shared/new', dutynew: @dutynew
          - when "rosters"
            = render 'shared/show', roster: @roster
      - when "update"
        = render 'shared/edit', dutyfind: @dutyfind
      - when "create"
        = render 'shared/show', rosternew: @rosternew
      - when "edit"
        = render 'shared/edit', dutyfind: @dutyfind
      - else
        %p 例外のアクションです
        = action_name

-# フッター表示
= render 'shared/footer' 
