.form
  = form_with model: @dutyfind, local: true do |f|
    = render 'layouts/error_messages', model: f.object
    .duty-form
      = f.label :当番表名, class: 'duty-label'
      = f.text_field :name, class: 'duty_name_input', placeholder: '当番表名を入力してください'
    .duty-form
      = f.label :メンバー, class: 'duty-label'
      = f.collection_check_boxes(:user_ids, User.where.not(id: current_user.id), :id, :nickname) do |user|
        = user.label { user.check_box + user.text }
    %input{:name => "duty[user_ids][]", :type => "hidden", :value => current_user.id}
    .duty-form
    = f.submit