%header 
  .title
    %a.title-ja{ :href => root_path } 当 番 表
    %p.title-en duty roster
  .right-up-content
    .show-content
      - case action_name
        - when "show"
          .duty-name
            %p
              当番表名：
              = @dutyfind.name
          - if user_signed_in? && @users.include?(current_user.id)
            .duty-btns
              .duty-btn
                = link_to '編集', edit_duty_path, name: "edit-btn"
              .duty-btn
                = link_to '削除', duty_path, method: :delete, name: "destroy-btn"

    .login
      - if user_signed_in?
        .user-name
          = "ユーザー名：#{current_user.nickname}"
        .user-btn
          = link_to "ログアウト", destroy_user_session_path, method: :delete, name: "destroy-session-btn"
      - else
        .user-btn
          = link_to "ログイン", new_user_session_path, class: "post", name: "new-session-btn"
        .user-btn
          = link_to "新規登録", new_user_registration_path, class: "post", name: "new-registration-btn"