
.roster
  .roster-top
    - case action_name
      - when "new"
        = render 'rosters/new', rosternew: @rosternew
      - when "create"
        = render 'rosters/new', rosternew: @rosternew
      - else
        - if user_signed_in? && @users.include?(current_user.id)
          .duty-btn
            = link_to 'チェック', new_duty_roster_path(@dutyfind.id)

  %table#roster-table
    %thead
      %tr 
        %th.roster-date 日付
        - @dutys.each do |dutys|
          %th.roster-name
            .name= dutys.user.nickname
            .count= "#{@roster.where(user_id: dutys.user.id).count}回"
    %tbody
      - 20.times do |i|
      - day = @today + 5 - i
        %tr{id: "#{day}"}
          %td
            - if @today == day
              = "Today"
            - else
              = day.strftime('%Y/%m/%d(%a)')
            
            - @dutys.each do |dutys|
              %td{class: "#{dutys.user_id}"}
                - @roster.each do |roster|
                  - if day == roster.date && dutys.user_id == roster.user_id
                    = link_to '○', duty_roster_path(@dutyfind, roster), method: :delete ,name: "check-btn"