.roster
  .roster-top
    .duty-btn
      = link_to 'チェック', new_duty_roster_path(@dutyfind.id), :onclick=>"window.open(this.href,'チェック', 'height=400, width=800');return false;"
    %ul.duty-group

  %table.roster-table
    %tr 
      %th 日付
      - @dutys.each do |dutys|
        %th.roster-name
          = dutys.user.nickname
    - 10.times do |i|
      %tr{id: "#{@today + 5 - i}"}
        %td
          = (@today + 5 - i).strftime('%Y/%m/%d')
          - @dutys.each do |dutys|
            %td{id: "#{dutys.user_id}"}
              - @roster.each do |roster|
                - if (@today + 5 - i) == roster.date && dutys.user_id == roster.user_id
                  = link_to '○', duty_roster_path(@dutyfind, roster), method: :delete