%body 

%div.title
  %h1.title-ja 当番表
  %p.title-en duty roster

  %p.title.duty ホスト役
  %br/

%div.login
  - if user_signed_in?
    = "ユーザー名：#{current_user.nickname}"
    = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    = link_to "ログイン", new_user_session_path, class: "post"
    = link_to "新規登録", new_user_registration_path, class: "post"



%table.roster 
  %tr 
    %th 日付
    - @user.each do |user|
      %th>
        = user.nickname
  %tr
    %td 2021/2/13
    %td 
    %td 
    %td 
    %td 
      %a{ :href => 'http://google.co.jp', :id => 'anchor1' }○
  %tr 
    %td 2021/2/12
    %td 
    %td 
    %td ○
    %td 
  %tr 
    %td 2021/2/11
    %td 
    %td ○
    %td 
    %td 




%p Find me in app/views/dutys/index.html.erb
