!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DutyRoster
    %link{:href => "https://yui-s.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -# ヘッダー表示
    = render 'shared/header' ,dutyfind: @dutyfind

    = yield
    
    -# フッター表示
    = render 'shared/footer' 
